aiofiles
aiohttp
beautifulsoup4
cfscrape
cryptg
emoji
googletrans
gtts
hachoir
Pillow
psycopg2
regex
requests
PyGithub
speedtest-cli
sqlalchemy
telegraph
wikipedia
pytz
pySmartDL
telepot
telethon>=1.10.3
